In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from apyori import apriori

In [16]:
#pip install apyori

In [17]:
df=pd.read_csv('store_data.csv',header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df.shape

(7501, 20)

In [19]:
#converting into list
records = []
for i in range(0,7501):
    records.append([str(df.values[i,j]) for j in range(0,20)])

In [22]:
records[1]

['burgers',
 'meatballs',
 'eggs',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan']

In [26]:
#creating Association rule mining model
ass_rule=apriori(records,min_support=0.006,min_confidence=0.3,min_lift=1.2,max_length=2)
ass_rule=list(ass_rule)
len(ass_rule)

60

In [27]:
ass_rule[1]

RelationRecord(items=frozenset({'mineral water', 'almonds'}), support=0.007598986801759766, ordered_statistics=[OrderedStatistic(items_base=frozenset({'almonds'}), items_add=frozenset({'mineral water'}), confidence=0.37254901960784315, lift=1.5629139799096374)])

In [28]:
ass_rule[0]

RelationRecord(items=frozenset({'eggs', 'almonds'}), support=0.006532462338354886, ordered_statistics=[OrderedStatistic(items_base=frozenset({'almonds'}), items_add=frozenset({'eggs'}), confidence=0.3202614379084967, lift=1.7821076007059597)])

In [29]:
#Building 2nd apriori
ass_rule=apriori(records,min_support=0.002,min_confidence=0.3,min_lift=1.2,max_length=2)
ass_rule=list(ass_rule)
len(ass_rule)

115

In [32]:
ass_rule[2]

RelationRecord(items=frozenset({'asparagus', 'mineral water'}), support=0.0021330489268097585, ordered_statistics=[OrderedStatistic(items_base=frozenset({'asparagus'}), items_add=frozenset({'mineral water'}), confidence=0.4571428571428571, lift=1.9178012144455094)])

In [33]:
ass_rule[3]

RelationRecord(items=frozenset({'avocado', 'mineral water'}), support=0.011598453539528063, ordered_statistics=[OrderedStatistic(items_base=frozenset({'avocado'}), items_add=frozenset({'mineral water'}), confidence=0.348, lift=1.4599261744966443)])